.container {
  height: 100%;
  width: 100%;
  padding: 0 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  gap: 8px;
}

.block {
  padding: 8px;
}

.tree-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;

  .actions {
    flex-shrink: 0;

    padding: 8px;
    display: flex;
    gap: 8px;
  }

  .tree {
    flex-grow: 1;
    overflow: auto;
  }
}
